.content {
    background-color: #115392;
    width: 820px;
    border-radius: 25px; 
    height: 110 0px;
    padding: 20px; 
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.num, .op {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: calc(25% - 20px);
    height: calc(780px / 5 - 20px);
    font-size: 35px;
    background-color: #a9a7e1;
    color: white;
    border: none; 
    outline: none; 
    box-shadow: none;
    transition: all 0.2s ease-in-out; 
}

.num:hover, .op:hover {
    background-color: #8f86d1;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.buttons #equal {
    background-color: #ea7065; 
    color: white;
    font-weight: bold;
    width: calc(50% - 20px); /* Adjusted width for the equal button */
    border-radius: 50px;
}

.buttons #equal:hover {
    background-color: #e55446;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out; 
}

.display {
    height: calc(260px - 20px);
    width: 100%;
    box-sizing: border-box;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: #1f5e97;
    color: wheat;
    padding: 10px;
    border-radius: 15px;
    text-align: right;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: 100vh;
    border: none;
    padding: 0;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        height: auto;
    }

    .display {
        font-size: 60px;
    }

    .buttons #equal {
        width: calc(100% - 40px); /* Equal button width adjustment on smaller screens */
    }

    .num, .op {
        font-size: 20px;
        width: calc(50% - 20px); /* Adjusting button width for small screens */
    }
}

.outerDisplay{
    padding: 20px;
}
