.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.actions{
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    height:175px;
    margin: auto;
    border: 1px solid #ccc;
    justify-content: end;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    height:700px;
    margin: auto;
    border: 1px solid #ccc;
    
}
.num {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: calc((820px / 4) - 20px); /* Adjusted for margin */
    height: calc((700px / 4) - 20px); /* Adjusted for margin */
    font-size: 25px;
}

.actions .action{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: calc((820px / 4) - 20px); /* Adjusted for margin */
    height: 155px;
    font-size: 25px;
    
}
.display{
    height:250px;
    width: 822.67px;
    border:2px solid black;
    box-sizing: border-box;

}